<template name="querySubmit">
<form class="main">
  <div class="control-group">
    <label class="control-label" for="title">Title</label>
    <div class="controls">
      <input name="title" type="text" class="span6" value="" placeholder="This Query's Title" />
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="query">Query</label>
    <div class="controls">
      <textarea name="query" class="span6" value="" />
    </div>
  </div>

  <div class="control-group">
    <div class="controls">
      <input type="submit" value="Submit" class="btn btn-primary" />
    </div>
  </div>
</form>
</template>
